<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.javaboy.springmvc01" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--配置一个MyController实例-->
    <bean class = "org.javaboy.springmvc01.controller.MyController" name ="/hello"></bean>
    <!--前端请求和后端接口联系起来-->
    <bean class = "org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" name ="HandlerMapping">
        <property name="beanName" value="/hello"/>
    </bean>
    <!--处理器适配器-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" id = "handlerAdapter"/>
    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id = "viewResolver">
        <!--webapp/jsp-->
        <property name="prefix" value="/jsp/"/>
        <!--.jsp文件-->
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>